.company-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.company-image {
    height: 200px;
    width: 150px;
    object-fit:fill;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.user-photo {
    height: 200px;
    width: 150px;
    object-fit:fill;
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: center;
    
}